@page
@model NeagoeElizaProgramariStomatologie.Pages.Medici.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medic[0].PrenumeMedic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medic[0].NumeMedic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medic[0].Specializare.NumeSpecializare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrenumeMedic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeMedic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specializare.NumeSpecializare)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
