@page "/"
@model NeagoeElizaProgramariStomatologie.Pages.Pacienti.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].PrenumePacient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].NumePacient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].TelefonPacient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pacient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrenumePacient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumePacient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonPacient)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
