@page
@model NeagoeElizaProgramariStomatologie.Pages.Programari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Cautare dupa nume pacient:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].DataProgramare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Pacient.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Procedura.NumeProcedura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Medic.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProgramariD.Programari) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataProgramare)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Pacient.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Procedura.NumeProcedura)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Medic.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
